.idea
projects/project-01-cli-task-utility/_build
projects/project-01-cli-task-utility/deps
projects/project-02-concurrent-web-scraper/_build
projects/project-02-concurrent-web-scraper/deps
projects/project-03-realtime-chat-server/_build
projects/project-03-realtime-chat-server/deps
projects/project-04-live-dashboard-system/_build
projects/project-04-live-dashboard-system/deps
projects/project-05-fault-tolerant-job-processing-system/_build
projects/project-05-fault-tolerant-job-processing-system/deps
projects/project-06-multiplayer-game-backend/_build
projects/project-06-multiplayer-game-backend/deps
projects/project-07-distributed-notification-platform/_build
projects/project-07-distributed-notification-platform/deps
projects/project-08-event-driven-saas-backend/_build
projects/project-08-event-driven-saas-backend/deps
projects/project-09-realtime-collaboration-platform/_build
projects/project-09-realtime-collaboration-platform/deps
projects/project-10-world-scale-distributed-platform/_build
projects/project-10-world-scale-distributed-platform/deps
